@model IEnumerable<Dashboard.Models.Products>
@{
    ViewData["Title"] = "Add New Items Page";
    var products = ViewBag.Products as List<Dashboard.Models.Products>;
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4"><span class="badge bg-light bordred text-dark">إضافة منتج جديد</span></h1>
        </div>
    </div>

    <div class="row">
        
        <div class="col">
            <button class="btn btn-dark" onclick="AddNewItems()">
                <i class="fs-4 bi-cart-plus p-2"></i> أضافة منتج
            </button>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="newproducts">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">اضافه منتج جديد</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateProducts" method="post">
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="newitem">اسم المنتج</label>
                            <input type="text" id="newitem" name="Name" class="form-control form-control-sm" />
                        </div>
                        <div class="col">
                            <label class="form-label" for="description">وصف المنتج</label>
                            <input type="text" id="description" name="Description" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء الأمر</button>
                        <button type="submit" class="btn btn-primary">حفظ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="card ">
                <div class="card-body">
                    <table class="table table-bordered text-center">
                        <thead class="table-blue">
                            <tr>
                                <th>رقم المنتج</th>
                                <th>اسم المنتج</th>
                                <th>وصف المنتج</th>
                                <th colspan="2">إجراء</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (products != null)
                            {
                                @foreach (var item in products)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>
                                            <a asp-action="Delete" asp-route-id="@item.Id">
                                                <i class="bi bi-archive-fill text-danger"></i> <!-- تغيير لون الأيقونة إلى الأحمر -->
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">
                                                <i class="bi bi-pencil-fill text-success"></i> <!-- تغيير لون الأيقونة إلى الأخضر -->
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">لا توجد منتجات</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
